name: ci
on:
  push:
  pull_request:
  schedule:
  - cron:  '0 3 * * 6' # 3am Saturday
jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ghc: ['9.0', '8.10', '8.8']
        include:
        - os: windows-latest
        - os: macOS-latest

    steps:
    - run: git config --global core.autocrlf false
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v1
      id: setup-haskell
      with:
        ghc-version: ${{ matrix.ghc }}
    - name: Get GHC libdir
      id: get-ghc-libdir
      run: |
        echo "::set-output name=libdir::$(ghc --print-libdir)"
      shell: bash
    - run: cabal v2-freeze --enable-tests
    - uses: actions/cache@v2
      with:
        path: ${{ steps.setup-haskell.outputs.cabal-store }}
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ steps.get-ghc-libdir.outputs.libdir }}-${{ hashFiles('cabal.project.freeze') }}
    - run: cabal new-install apply-refact --install-method=copy
    - uses: ndmitchell/neil@master
      with:
        hlint-arguments: src
